import(igraph)
import(rdiversity)
import(Matrix.utils)
import(blockmodels)
importFrom("stats","as.dist")
importFrom("grDevices", "gray.colors")
importFrom("graphics", "abline", "image", "lines")
importFrom("utils","setTxtProgressBar","txtProgressBar","capture.output")
importFrom("bipartite","visweb")
export(getMetaweb)
export(divPartition)
export(disPairwise)
export(cpness)
